
#api-responce {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    max-width: 300px;
}

#api-responce .toast-message {
    max-width: 280px;
    min-width: 200px;
    overflow: auto;
    word-wrap: break-word;
    padding: 11px;
    background-color: #333;
    border-radius: 5px;
    margin: 10px 10px;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
}

/* #cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
} */

.profile-link img{
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(41, 41, 41);
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .active {
    background-color: #5d5b5b57;
    border-radius: 4px;
    color: #e4e4e4 !important;
/* >>>>>>> feature/render-deploy-frontend */
}

