@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("../library/Easy-Page-Element-Loader-Plugin-with-jQuery-loader-js/jquery.loader.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("../css/style.css");
@import url("../css/general.css");
@import url("../css/expense.css");
@import url("../css/user.css");
@import url("https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css");


  .container {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  h1, h2 {
    color: #333;
  }

  .form-group label {
    color: #666;
    font-weight: 500;
  }

  .form-control {
    border-color: #ccc;
  }

  .input-group-append button {
    border-color: #ccc;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .table {
    background-color: #fff;
    width: 100%;
  }

  th {
    background-color: #f7f7f7;
  }

  td {
    vertical-align: middle;
  }

  /* Responsive styles */
  @media (max-width: 576px) {
    .form-group label {
      margin-bottom: 0.5rem;
    }

    .form-control {
      margin-bottom: 1rem;
    }

    .input-group-append button {
      margin-bottom: 1rem;
    }

    .table-responsive {
      overflow-x: auto;
    }
  }

  #dynamicParams div .col-md-5 {
    margin-right: 10px;
  }