.error-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #EEE, #AAA);
}

.h1-access {
  margin: 40px 0 20px;
}

.lock {
  border-radius: 5px;
  width: 55px;
  height: 45px;
}

body{
  background: #e0e9ec;
}
.form-floating{
    margin-bottom:20px;
}

.siteName{
margin-right:15%;
}

.nav-item{
    margin:0 10px;
}

table {
  table-layout: fixed;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/menu.png");
  width: 30px;
  height: 30px;
}

.profile-dropdown {
  margin-left: -5rem;
}
.profile-link img{
  width: 40px;
} 

#profile-image{
  height: 159px;
}

form .form-group {
  margin-top: 2%;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

