.error-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #EEE, #AAA);
}

.h1-access {
  margin: 40px 0 20px;
}

.lock {
  border-radius: 5px;
  width: 55px;
  height: 45px;
}

body{
  background: #e0e9ec;
}
.form-floating{
    margin-bottom:20px;
}

.siteName{
margin-right:15%;
}

.nav-item{
    margin:0 10px;
}

table {
  table-layout: fixed;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.profile-dropdown {
  margin-left: -5rem;
}
.profile-link img{
  width: 40px;
} 

#profile-image{
  height: 159px;
}

form .form-group {
  margin-top: 2%;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

