.card {
    width: 90%;
    padding: 20px;
    margin: 20px;
  }

.card-img-top {
    height: 250px;
    object-fit: contain;
}

  @media (max-width: 767px) {
    .card-img-top {
      height: 150px;
    }
  }

  .profile-button{
    margin-top: 15px;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 15px;
  }
  
  .dot.active {
    background-color: green;
  }
  
  .dot.inactive {
    background-color: red;
  }
